<table>
  <thead>
    <tr>
      <th>投稿者名</th>
      <th>Title</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <% @favorites.each do |f| %> <tr>
      <td><%= f.blog.user.name %></td>
      <td><%= f.blog.title %></td>
      <td><%= f.blog.content %></td>
      <% end %>
  </tbody>
</table>